<h1><%= t('.title') %></h1>

<%= render 'calendar', diaries: @calendar_diaries %>

<h2><%= t('.recent') %></h2>

<div class="row">
  <div class="col l12 s12">
    <div class="row">
      <%= render partial: 'diary', collection: @diaries %>
    </div>
    <%= paginate @diaries %>
  </div>
</div>

<a href="<%= new_diary_path(date: Date.today) %>" class="create_button">
  <i class="material-icons">add</i>
</a>
