<h1><%= t('.title', date: @diary.date ) %></h1>

<div class="row">
  <div class="col l12 s12">
    <%= render 'calendar', diaries: @calendar_diaries %>
  </div>
</div>
<div class="row">
  <div class="col l12 s12">
    <%= simple_format(@diary.body) %>
  </div>
</div>
<div class="row">
  <div class="col l12">
    <%= link_to t('buttons.edit'), edit_diary_path(@diary), class: 'edit-btn' %>
    <%= link_to t('buttons.back'), diaries_path, class: 'back-btn' %>
  </div>
</div>

