<!DOCTYPE html>
<html>
  <head>
    <title><%= t('service.name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="section no-pad-bot no-pad-top" id="main">
      <ul id="user-dropdown" class="dropdown-content">
        <li><a href="<%= diaries_path %>"><i class="material-icons">book</i><%= t('menu.diaries') %></a></li>
        <li><a href="<%= time_travel_diaries_path %>"><i class="material-icons">card_travel</i><%= t('menu.time_travel') %></a></li>
        <li><a href="<%= new_import_path %>"><i class="material-icons">arrow_upward</i><%= t('menu.csv_import') %></a></li>
        <li><a href=""><i class="material-icons">arrow_downward</i><%= t('menu.csv_export') %></a></li>
        <li class="divider"></li>
        <li><a ref="nofollow" data-method="delete" href="<%= destroy_user_session_path %>"><i class="material-icons">exit_to_app</i><%= t('session.sign_out') %></a></li>
      </ul>
      <nav role="navigation">
        <div class="nav-wrapper container">
          <a href="<%= root_path %>" class="brand-logo"><%= image_tag 'logo.png', class: 'logo', width: 48, height: 48 %>C2Diary</a>
          <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <% if current_user %>
            <li>
              <a class="dropdown-trigger" href="#!" data-target="user-dropdown">
                <%= t('menu.user_menu') %><i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <% else %>
            <li><a href="<%= new_user_registration_path %>"><%= t('session.sign_up') %></a></li>
            <li><a href="<%= new_user_session_path %>"><%= t('session.sign_in') %></a></li>
            <% end %>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-menu">
        <% if current_user %>
        <li><a href="<%= diaries_path %>"><i class="material-icons">book</i><%= t('menu.diaries') %></a></li>
        <li><a href="<%= time_travel_diaries_path %>"><i class="material-icons">card_travel</i><%= t('menu.time_travel') %></a></li>
        <li><a href="<%= new_import_path %>"><i class="material-icons">arrow_upward</i><%= t('menu.csv_import') %></a></li>
        <li><a href=""><i class="material-icons">arrow_downward</i><%= t('menu.csv_export') %></a></li>
        <li class="divider"></li>
        <li><a ref="nofollow" data-method="delete" href="<%= destroy_user_session_path %>"><i class="material-icons">exit_to_app</i><%= t('session.sign_out') %></a></li>
        <% else %>
        <li><a href="<%= new_user_registration_path %>"><i class="material-icons">person_add</i><%= t('session.sign_up') %></a></li>
        <li><a href="<%= new_user_session_path %>"><i class="material-icons">input</i><%= t('session.sign_in') %></a></li>
        <% end %>
      </ul>
      <div class="container">
        <div class="row">
          <% if notice %>
          <div id="card-alert" class="card green lighten-5">
            <div class="card-content green-text">
              <p class="notice"><%= notice %></p>
            </div>
          </div>
          <% end %>
          <% if alert %>
          <div id="card-alert" class="card red lighten-5">
            <div class="card-content red-text">
              <p class="alert"><%= alert %></p>
            </div>
          </div>
          <% end %>
        </div>
        <%= yield %>
      </div>
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">本サイトについて</h5>
              <ul>
                <li><a class="white-text" href="#!">サービス概要</a></li>
                <li><a class="white-text" href="#!">ヘルプ</a></li>
                <li><a class="white-text" href="#!">お問い合わせ先</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
            </div>
            <div class="col l3 s12">
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          Made by <a class="orange-text text-lighten-3" href="https://twitter.com/Y_uuu">Y_uuu</a>
          </div>
        </div>
      </footer>
    </div>
    <script>
    <% if %w[new edit].include?(action_name) %>
    var onBeforeunloadHandler = function(e) {
      e.returnValue = '保存していない内容が失われますが、よろしいですか';
    };
    window.addEventListener('beforeunload', onBeforeunloadHandler, false);
    document.querySelectorAll('form').forEach(function(el) {
      el.addEventListener('submit', function () { window.removeEventListener('beforeunload', onBeforeunloadHandler, false); });
    });
    <% end %>
    </script>
  </body>
</html>
