<!DOCTYPE html>
<html>
  <head>
    <title>HerokuRailsTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="section no-pad-bot no-pad-top" id="main">
      <nav role="navigation">
        <div class="nav-wrapper container">
          <a href="<%= root_path %>" class="brand-logo"><i class="material-icons">note_add</i>C2Diary</a>
          <ul class="right hide-on-med-and-down">
            <% if current_user %>
            <li>
              <a ref="nofollow" data-method="delete" href="<%= destroy_user_session_path %>">
                <i class="material-icons white-text">system_update_alt</i><%= t('session.sign_out') %>
              </a>
            </li>
            <% else %>
            <li>
              <a href="<%= new_user_registration_path %>">
                <i class="material-icons white-text">person_add</i><%= t('session.sign_up') %>
              </a>
            </li>
            <li>
              <a href="<%= new_user_session_path %>">
                <i class="material-icons white-text">person</i><%= t('session.sign_in') %>
              </a>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <% if notice %>
          <div id="card-alert" class="card green lighten-5">
            <div class="card-content green-text">
              <p class="notice"><%= notice %></p>
            </div>
          </div>
          <% end %>
          <% if alert %>
          <div id="card-alert" class="card red lighten-5">
            <div class="card-content red-text">
              <p class="alert"><%= alert %></p>
            </div>
          </div>
          <% end %>
        </div>
        <%= yield %>
      </div>
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">本サイトについて</h5>
              <ul>
                <li><a class="white-text" href="#!">サービス概要</a></li>
                <li><a class="white-text" href="#!">ヘルプ</a></li>
                <li><a class="white-text" href="#!">お問い合わせ先</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
            </div>
            <div class="col l3 s12">
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
