<!DOCTYPE html>
<html>
  <head>
    <title>HerokuRailsTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="section no-pad-bot no-pad-top" id="main">
      <nav role="navigation">
        <div class="nav-wrapper container">
          <a href="<%= root_path %>" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
          <ul class="right hide-on-med-and-down">
            <% if current_user %>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <% end %>
            <li><a href="sass.html"><i class="material-icons white-text">search</i></a></li>
            <li><a href="badges.html"><i class="material-icons white-text">view_module</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons white-text">refresh</i></a></li>
            <li><a href="mobile.html"><i class="material-icons white-text">more_vert</i></a></li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        <%= yield %>
      </div>
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Company Bio</h5>
              <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Settings</h5>
              <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Connect</h5>
              <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
